* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}
body {
    
  height: 100vh; /* Set the body height to the full viewport height */
  margin: 0; /* Remove default margin */

  overflow-x: hidden;
  background: #011136fb;
}
/* .input{
    color:#2ae9f0;
} */
p{
    color: whitesmoke;
}
.hero-header {
  
  
  
   background: #011136f8; 
 
}

.wrapper {
  width: 1280px;
  max-width: 95%;
  margin: 0 auto;
  padding: 0 20px;
}
header {
  padding: 30px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header {
  padding: 30px;
}
.logo {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.logo i {
  height: 40px;
  width: 40px;
  background: #2ae9f0;
  border-radius: 50%;
  color: #000;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 7px;
  margin-right: 5px;
  cursor: pointer;
  text-align: center;
}
.logo .logo-text {
  font-size: 24px;
  font-weight: 500;
  color: aliceblue;
}
.line {
  color: #2ae9f0;
  width: 100%;
  margin: 3px;
}
nav .togglebtn {
  width: 35px;
  height: 35px;
  display: none;
  position: absolute;
  top: 30px;
  right: 3%;
  z-index: 5;
  cursor: pointer;
}
nav .togglebtn span {
  display: block;
  background-color: #2ae9f0;
  width: 100%;
  height: 3px;
  margin: 5px 0px;
  transition: 0.3s;
  transition-property: transform, opacity;
}
nav .navlinks {
  list-style-type: none;
  float: left;
}
nav .navlinks li {
  display: inline-block;
} 
nav .navlinks li a {
  color: aliceblue;
  margin-right: 3rem;
  padding-right: 50px;
}
nav .navlinks li a.active {
  color: #2ae9f0; /* Adjust the color for the active link */
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5em;
   
}
.container .flex{
    padding: 2em;
    
}
.container .hero-pic {
  
  border-radius: 0%;
  overflow: hidden;
  /* border: 15px solid #444; */
  box-shadow: 5px 7px 25px rgba(0, 0, 0, 0.5);
  margin-top: -11em;
}

.hero-text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  line-height: 2;
  margin-top: 1px;


}
.hero-text h5 {
  color: aliceblue;
  font-size: 20px;
  padding-left: 17px;
}

.hero-text  span {
  color: #2ae9f0;
  font-size: 1.5rem;
}
.hero-text h2 {
  color:aliceblue;
  font-size:  16px;
  /* padding: 17px; */
}
.hero-text p {
  color: aliceblue;
  
}
.btn-group {
  margin: 45px 0;
}
.btn-group .btn {
  border-color: antiquewhite;
  color: aliceblue;
  background-color: #097f83;
  padding: 12px 25px;
  border-radius: 30px;
  /* margin: 5px 0px; */
  margin-right: 60px;
  border: 2px solid #e5e5e5;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}
.btn.active {
  border-color: #2ae9f0;
}
.hero-text .social i {
  color: #e5e5e5;
  font-size: 18px;
  margin-right: 10px;
  transition: 0.5s;
  padding: 20px;
}
.hero-text .social i:hover {
  color: #2ae9f0;
  transform: rotate(360deg);
}
/*SMALL SCREEN*/
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
        background: #222;
        overflow-y: auto  auto; /* Enable vertical scrolling */
    }
    .grid {
        height: auto; /* Allow the container to expand based on its content */
      }
  nav .togglebtn {
    display: initial;
  }
  /*for toggle btn*/
  .click {
    top: 45px;
  }
  .click span {
    position: absolute;
    margin-top: 15px;
  }
  .click span:first-child {
    transform: rotate(-40deg);
  }
  .click span:nth-child(2) {
    opacity: 0;
    margin: 0;
  }
  .click span:last-child {
    transform: rotate(45deg);
    top: 0;
  }
  
  nav .navlinks {
    position: absolute;
    top: 76px;
    left: 60%; 
    bottom: 0;
    width: 50%;
    background-color: #2222229c;
    height: 50vh;
    z-index: 3;
    box-shadow: 5px 13px 30px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    padding: 25px 43px;
    visibility: hidden; /* hide initially */
    display: none; /* alternative: use display none */
  }
  nav .navlinks li {
    display: block;
  }
  nav .navlinks li a {
    display: block;
    margin-bottom: 15px;
    text-align: center;
  }
  nav .navlinks.open {
    left: 50%;
    visibility: visible; /* show when open */
  display: block; /* alternative: use display block */
  }
  
}
@media (max-width: 768px) {
    
  .container {
    flex-direction: column;
    padding: 2rem 0;
  }
 
  
  .hero-text {
    padding: 40px 0px;
    margin-top: -3rem;
  }
  
  
  .grid {
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    flex-direction: column-reverse; /* Change to column to get vertical alignment */
    height: auto ; /* Make the container take up the full viewport height */
  }




}


/* CONTACT */
/* Apply styles to the container */
.grid {
  display: flex;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  /* width: 50%; */
  height: 80vh; /* Make the container take up the full viewport height*/
}
.words {
    color: antiquewhite;
  width: 156%;
  padding: 13px;
}

/* Adjust the form width if needed */
.grid__col--12 {
  max-width: 400px;
  width: 100%;
}

/* Style your form elements */
form {
  background-color: #44c6ca;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(29 227 214);
}

label {
  display: block;
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
  background-color: #206c6f7d;
}
#message ::placeholder{
    color: #000;
}


button {
    border-color: antiquewhite;
    color: aliceblue;
    background-color: #139da1;
    padding: 12px 49px;
    /* border-radius: 30px; */
    /* margin: 5px 0px; */
    margin-left: 85px;
    border: 2px solid #e5e5e5;
  box-shadow: 0 10px 10px -8px rgb(0 0 0 / 78%);
}

/* Add some additional styles for better visual appeal */
button:hover {
  background-color: #336572;
}

button:active {
  background-color: #3c903d;
}
/* FLIPCARD */
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 50px;
  width:93%;
  padding:50px
}

  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .grid-container {
      grid-template-columns: 1fr; /* Adjust the number of columns as needed */
      height: auto;
      gap: 60px;
      padding: 25px;
    }

   
    .words {
        color: antiquewhite;
      width: 100%;
      padding: 13px;
    }
    
    /* Adjust the form width if needed */
    .grid__col--12 {
      max-width: 400px;
      width: 100%;
      margin-bottom: -13em;
    }
    
   
  }
  
  .flip-card {
    background-color: transparent;
    width: 261px;
    height: 322px;
    border: 2px solid #2f4866;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front,
  .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    line-height: 1.5rem;
  }
  
  
  
  .flip-card-back {
    background-color: #139da1;
    color: black;
    transform: rotateY(180deg);
  }
  /* line */

  .line_content .line {
    display: flex;
    margin-bottom: 10px;
  }
  
  .line_content p {
    text-transform:capitalize;
    width: 15%;
    
  }
  
  .line_content h5 {
    background: #30D3FF;
    width: 58px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 5px;
    position: relative;
    margin-top: 12px;
    color: #000;
  }
  
  .line_content h5::after {
    position: absolute;
    content: '';
    left: -4px;
    top: 12px;
    width: 20px;
    height: 10px;
    background: #30D3FF;
    transform: rotate(45deg);
    
  }
  
  .line_content .line:nth-child(2) h5::after,
  .line_content .line:nth-child(2) h5 {
    background: #FF761B;
  }
  
  .line_content .line:nth-child(3) h5::after,
  .line_content .line:nth-child(3) h5 {
    background: #FF26BE;
  }
  
  .line_content .bar {
    width: 60%;
    background: #ffffff;
    height: 5px;
    margin-top: 30px;
    margin-right: 20px;
  }
  
  .line_content .line_bar {
    animation: bar 2.8s;
    height: 5px;
    background: #30ff86;
    width: 85%;
  }
  
  .line_content .css {
    width: 70%;
    background: #FF761B;
  }
  .line_content .photo {
    width: 70%;
    background: #1babff;
  }
  
  .line_content .pho {
    width: 70%;
    background: #ff1ba8;
  }
   .line_content  {
    width: 50%;
    margin-top: -1em;
    
  } 
  
  @keyframes bar {
    0% {
      width: 0%;
    }
  }
  
  @keyframes write {
    0% {
      left: 0;
    }
  
    20% {
      content: "15%";
    }
  
    40% {
      content: "30%";
    }
  
    60% {
      content: "45%";
    }
  
    80% {
      content: "60%";
    }
  
    100% {
      content: "70%";
    }
  }
  
  /*---------line skills--------*/
  @keyframes circle_animation {
    0% {
      stroke-dashoffset: 340px;
    }
  
    100% {
      stroke-dashoffset: 0px;
    }
  }
  @media (max-width: 768px){
 .line_content  {
    width: 74%;
    margin-top: -24px;
   
  }
}
  

    
    
  

  
  